{% extends 'base.html' %}

{% block head %}
   {{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}"></script>
{% endblock %}

{% block content %}
<h3>add question</h3>
<div>
    <form id="form" action="{{ url_for('add_question', question_num=0) }}" method="post">
        {{ form.question_category.label }}{{ form.question_category }}<br>
        {{ form.question_type.label }}{{ form.question_type }}<br>
        {{ form.question_body.label }}{{ form.question_body }}<br>
        {{ form.submit }}
    </form>
    <button id="add_answer">添加答案</button>

    <script type="text/javascript">
        var question_num = 0;
        $(document).ready(function(){
            $("#add_answer").click(function(){
                question_num += 1;
                if ($("#question_type").val() == "填空题"){
                    var answer_name = 'answer'+question_num
                    $("#submit").before($("<input type='text' name=" + answer_name + "></input><br>"));
                }else{
                    var answer_name = 'answer'+question_num;
                    $("#submit").before($("<label>A</label>"));
                    $("#submit").before($("<input type='radio' name=" + answer_name + " value='A'>"));
                    $("#submit").before($("<label>B</label>"));
                    $("#submit").before($("<input type='radio' name=" + answer_name + " value='B'>"));
                    $("#submit").before($("<label>C</label>"));
                    $("#submit").before($("<input type='radio' name=" + answer_name + " value='C'>"));
                    $("#submit").before($("<label>D</label>"));
                    $("#submit").before($("<input type='radio' name=" + answer_name + " value='D'><br>"));
                }
            });

            $("#submit").click(function(){
                var new_url = "/add_question/" + question_num
                $("#form").attr('action', new_url);
                $("#form").submit();
            })
        });
    </script>
	<script type="text/javascript">
		tinymce.init({
			selector: '#question_body',
			plugins: [
				'advlist autolink link image imagetools lists charmap print preview hr anchor pagebreak spellchecker',
				'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
				'save table contextmenu directionality template paste textcolor codesample'
			],
			imagetools_toolbar: "rotateleft rotateright | flipv fliph | editimage imageoptions",
			toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons | codesample',
			images_upload_url: "{{ url_for('imageuploader') }}",
			automatic_uploads: true,
			images_reuse_filename: false,
			images_upload_base_path: '/static/uploads',
			codesample_languages: [
				{ text: 'HTML/XML', value: 'markup' },
				{ text: 'JavaScript', value: 'javascript' },
				{ text: 'CSS', value: 'css' },
				{ text: 'Processing', value: 'processing' },
				{ text: 'Python', value: 'python' }
			],
			width: "100%",
			height: 300,
		});
	</script>
</div>

{% endblock %}
