{% extends 'base.html' %}

{% block content %}
<h3>register</h3>
<form method="post">
    学号<br>
    <input type="text" name="student_num" required><br><br>
    姓名<br>
    <input type="text" name="name" required><br><br>
    年级<br>
    <input type="text" name="grade" list="gradeslist" placeholder="请选择年级"><br><br>
    <datalist id="gradeslist">
        {% for grade in grades %}
            <option>{{ grade }}</option>
        {% endfor %}
    </datalist>
    班级<br>
    <input type="text" mame="class_num" list="classnumslist" placeholder="请选择班级"><br><br>
    <datalist id="classnumslist">
        {% for classnum in classnums %}
            <option>{{ classnum }}</option>
        {% endfor %}
    </datalist>
    密码<br>
    <input type="password" name="password" required><br><br>
    <input class="btn" type="submit" name="submit" value="注册">
</form>
{% endblock %}