{% extends 'baseRegisterAndLogin.html' %}

{% block content %}
	<main class="form-signin">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">注冊</h1>
            <label for="student_num" class="visually-hidden">学号</label>
            <input type="text" id="student_num" name="student_num" class="form-control" placeholder="學號" required autofocus>
            <label for="name" class="visually-hidden">姓名</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="姓名" required>
            <label for="grade" class="visually-hidden">年級</label>
            <input type="text" id="grade" name="grade" list="gradeslist" class="form-control" placeholder="年級" required>
            <datalist id="gradeslist">
                {% for grade in grades %}
                    <option>{{ grade }}</option>
                {% endfor %}
            </datalist>
            <label for="class_num" class="visually-hidden">班級</label>
            <input type="text" id="class_num" name="class_num" list="classnumslist" class="form-control" placeholder="班級" required>
            <datalist id="classnumslist">
                {% for classnum in classnums %}
                    <option>{{ classnum }}</option>
                {% endfor %}
            </datalist>
            <label for="password" class="visually-hidden">密码</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="密碼" required>
            <button class="w-100 btn btn-lg btn-primary" type="submit">注冊</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020<a href="http://60.191.178.98:88/">温岭二中校网</a></p>
        </form>
    </main>
{% endblock %}