{% extends 'baseRegisterAndLogin.html' %}

{% block content %}
	<main class="form-signin">
        <form method="post">
        <!--            <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <label for="teacher_name" class="visually-hidden">姓名</label>
            <input type="text" id="teacher_name" name="teacher_name" class="form-control" placeholder="姓名" required autofocus>
            <label for="password" class="visually-hidden">密码</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="密碼" required>
            <button class="w-100 btn btn-lg btn-primary" type="submit">登录</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020<a href="http://60.191.178.98:88/">温岭二中校网</a></p>
        </form>
        <a href="{{ url_for('student_login') }}"><button>学生端</button></a>
    </main>
{% endblock %}